.feature-div{
    height: '100%';
    justify-items: center;
    display: flex;
    align-items: center;
    font-size:25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
}