.about-us-img-div{
    color: #1B286F;
    font-weight: bold;
    font-size: larger;
    width: 300px;
    height: 220px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-decoration: none;
}
.about-us-img-div:hover{
    transform: scale(1.01);
}
.about-us-img-div-mobile{
    color: #1B286F;
    font-weight: bold;
    font-size: 10px;
    width: 130px;
    height: 100px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-decoration: none; 
}
.about-us-img-div-mobile img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 70%;
    width: 100%;
    margin-bottom: 10px;
}
.about-us-img-div img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 70%;
    width: 100%;
    margin-bottom: 10px;
}