.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes emerge{
  0% {
    transform: translateY(100%);
  }
  100% {
    transform:translateY(0%);
  }
}
@keyframes divExpand {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}


.animate-divExpand {
  animation: divExpand 2s ease-in-out forwards;
  background-repeat: no-repeat;
}




.emerge{
  animation: emerge 1s ease-out forwards;
}

/* Style for the loader container */
.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

/* Style for the circular loader */
.loader-box::before {
  content: "";
  display: block;
  width: 120px; /* Adjusted size for increased radius */
  height: 120px; /* Adjusted size for increased radius */
  border: 10px solid transparent; /* Adjust border width to maintain proportion */
  border-top: 10px solid green; /* Green color for the top border */
  border-radius: 50%; /* Make it circular */
  animation: spin 1s linear infinite; /* Animation to make it spin */
}

/* Keyframe animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

